#root {
  display: flex;
}

.div--left {
  height: 100vh;
  width: 40%;
  background-color: aqua;
  padding: 0 10px;
}
.div--right {
  width: 60%;
  height: 100vh;
  background-color: blueviolet;
  padding: 0 10px;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list__item {
  /* display: flex; */
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  background-color: rgba(125, 187, 184, 0.848);
}

.button--def {
  background-color: rgb(51, 192, 145);
  border-radius: 20px;
  margin: 0 auto;
  padding: 5px 5px;
}

.button--add {
  display: flex;
  background-color: rgb(51, 192, 145);
  border-radius: 20px;
  margin: 0 auto;
  padding: 5px 30px;
}

.magic__div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: aqua;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  padding: 10px;
}

.magic__div--hidden {
  display: none;
}

.magic__text {
  margin-right: 5px;
}

.magic__button {
  height: fit-content;
}
